html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.menu {
    background-color: aqua;
    height: 10%;
}

.canvas-container {
    height: 90%;
}
